<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./styles.css" rel="stylesheet" type="text/css">
    <title>Fin Kit</title>
</head>

<body>
    <header class="header">
        <button class="header_btn">Ru</button>
        <button class="header_btn">En</button>
    </header>

    <section class="main_wrapper">
        <div class="main_box main_box_info">
            <p class="main_name">Fin <span class="main_spn">Kit</span></p>
            <p class="main_title">Гибкая мобильная платформа для быстрой реализации инвестиционных сервисов.</p>
            <button class="main_btn btn">Заказать демо</button>
        </div>
        <div class="main_box">
            <img class="main_img" src="./assets/png/main_image.png" alt="main_img" />
        </div>
        <div class="options_wrapper">
            <div class="option_box">
                <p class="option_title">Удобный пользовательский интерфейс</p>
                <div class="option_icon">
                    <img src="./assets/svg/chart.svg" alt="chart" />
                </div>
            </div>
            <div class="option_box">
                <p class="option_title">Панель администратора для ведения учета</p>
                <div class="option_icon">
                    <img src="./assets/svg/activity.svg" alt="chart" />
                </div>
            </div>
            <div class="option_box">
                <p class="option_title">Простая и быстрая интеграция</p>
                <div class="option_icon">
                    <img src="./assets/svg/filter.svg" alt="chart" />
                </div>
            </div>
            <div class="option_box">
                <p class="option_title">Гибкая масштабируемая система</p>
                <div class="option_icon">
                    <img src="./assets/svg/setting.svg" alt="chart" />
                </div>
            </div>
        </div>
    </section>



    <section class="products_wrapper">
        <p class="products_title title">Наши <span class="selected_title">ключевые продукты</span> для инвестиций</p>
        <div class="products_box">
            <div class="product_box">
                <div class="product_info">
                    <p class="product_title">Платформа для автоследования</p>
                    <p class="product_subtitle">Копирование стратегий в автономном режиме</p>
                </div>
                <img class="product_img" src="./assets/png/strategies.png" alt="strategies" />
            </div>
            <div class="product_box">
                <div class="product_info">
                    <p class="product_title">Платформа для робо-эдвайзинга</p>
                    <p class="product_subtitle">Персонализированный подбор стратегий исходя из заданных параметров</p>
                </div>
                <img class="product_img" src="./assets/png/risk_level.png" alt="risk_level" />
            </div>
        </div>
    </section>

    <section class="value_wrapper">
        <div class="value_box">
            <p class="value_title title"><span class="selected_title">Представляем ценность</span> для броĸера и банĸа
            </p>
            <p class="value_subtitle">Мы помогаем броĸерам и банĸам запустить собственное мобильное приложение для
                инвестиций в коротĸие сроĸи и с эĸономией бюджета</p>
            <button class="value_btn btn">Заказать демо</button>
        </div>
        <div class="value_box benefit">
            <div class="value_benefits">
                <div class="value_icon">
                    <img src="./assets/svg/icon1.svg" alt="chart" />
                </div>
                <p class="value_benefit_title">Эĸономим время и деньги на запусĸ digital сервисов</p>
            </div>
            <div class="value_benefits">
                <div class="value_icon">
                    <img src="./assets/svg/icon2.svg" alt="chart" />
                </div>
                <p class="value_benefit_title">Создаем канал привлечения новых клиентов</p>
            </div>
            <div class="value_benefits">
                <div class="value_icon">
                    <img src="./assets/svg/icon3.svg" alt="chart" />
                </div>
                <p class="value_benefit_title">Помогаем увеличить выручку путем запуска нового продукта</p>
            </div>
            <div class="value_benefits">
                <div class="value_icon">
                    <img src="./assets/svg/icon4.svg" alt="chart" />
                </div>
                <p class="value_benefit_title">Повышаем лояльность действующих клиентов</p>
            </div>
        </div>
    </section>
</body>

</html>